<!DOCTYPE html>
<html lang="ja">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <div class="blogs content">
        <h2>Blog List</h2>
        <% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
        <a class="detail" href="/blogs/<%= blog._id %>">
          <h3 class="blog-title"><%= blog.title %></h3>
          <p class="blog-date"><%= blog.date %></p>
        </a>
        <% }) %> <% } %>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
